.wrapperPage {
  display: flex;
  flex-direction: column;
}
.wrapperTitle {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  background-color: cornflowerblue;
}
.boxTitle {
  width: 1180px;
}
.title {
  width: 200px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 18px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 1180px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  text-align: center;
  padding: 5px;
  border: solid 1px;
  border-color: gray;
  border-radius: 8px;
  margin: 10px;
  padding: 15px;
  width: 240px;
  height: 380px;
}
.NavLinkProd {
  text-decoration: none;
}
.nameItem {
  width: 210px;
  height: 50px;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
}

.priceInfo {
  width: 240px;
  height: 40px;
  margin-top: 10px;
  display: flex;
  justify-content: left;
  flex-direction: column;
}
.fontPriceRetail {
  width: 100px;
  margin-left: 25px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
}
.fontProdCode {
  margin-left: 10px;
  width: 180px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.fontCountry {
  width: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
}
.btnCard {
  width: 150px;
  height: 30px;
  margin-top: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
}
.loadPosition {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
