.wrapper {
  display: flex;
  justify-content: center;
}
.container {
  margin-top: 50%;
  color: red;
  cursor: pointer;
}
.containerHover {
  margin-top: 50%;
  color: green;
  cursor: pointer;
}

.hoverButtonOff:hover {
  display: inline-block;
  background-color: skyblue;
}

.hoverButtonOn:hover {
  display: inline-block;
  background-color: sandybrown;
}

@media (min-width: 560px) and (max-width: 940px) {
}

@media (min-width: 940px) {
}
