.boxImg {
  flex-wrap: wrap;
  display: flex;

  /* background-color: #61603f; */
}

.imgCard {
  background-color: #92d0fa;

  text-align: center;

  width: 110px;
  height: 175px;
  margin: 5px;
}

.imgCardFont {
  font-family: "Lato", sans-serif;
  font-size: 9px;
  line-height: 9px;
}

.imgCardFontBold {
  margin-top: 2px;
  margin-bottom: 2px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 10px;
  line-height: 10px;
}

.img {
  border-radius: 8px;
  width: 100px;
  height: 100px;
  background-size: auto;
}
