::-webkit-scrollbar {
  /* chrome based */
  width: 0px; /* ширина scrollbar'a */
  background: transparent; /* опционально */
}

.card {
  display: flex;
  height: 808px;
}
.footerLeft {
  width: 20%;
}
.footerMiddle {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 808px;
  overflow-y: hidden;
}
/* .footerMiddle:hover {
  overflow-y: scroll;
} */

.wrapperMiddle {
  display: flex;
}
.middleLeft {
  width: 600px;
  text-align: center;
}
.boxNameCode {
  width: 100%;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 15px;
}
.img {
  padding-top: 20px;
  padding-bottom: 20px;
}
.imgDescription {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 15px;
}
.productName {
  padding-top: 10px;
  padding-bottom: 10px;
}
.prodCode {
  padding: 5px;
}
.middleRight {
  width: 50%;
}
.ulRight {
  width: 100%;
}

.middleLeft {
  width: 50%;
  padding: 15px;
  border-radius: 16px;
  background-color: white;
}

.footerRight {
  width: 20%;
}

.btnMiddleRight {
  margin-top: 10px;
  width: 200px;
  height: 40px;
  border-radius: 16px;
}

.liRight {
  padding: 4px;
  border-bottom: 1px solid;
}
.btnProductDetails {
  margin: 10px;
  width: 250px;
  height: 50px;
  cursor: pointer;
  box-shadow: 5px 5px 15px rgb(150, 150, 168);
  border-radius: 16px;
  background: #fde86e;
}

.priceProductDetails {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 20px;
  color: rgb(0, 99, 0);
}
.fontProductDetails {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 18px;
}
.loadPosition {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 808px;
  margin-top: 10%;
}
