.boxImg {
  flex-wrap: wrap;
  display: flex;

  /* background-color: #61603f; */
}
.loadPoition {
  display: flex;
  justify-content: center;
  margin-top: 50%;
}

@media (min-width: 560px) and (max-width: 940px) {
}

@media (min-width: 940px) {
}
