.boxImg {
  flex-wrap: wrap;
  display: flex;

  /* background-color: #61603f; */
}
.loadPosition {
  display: flex;
  justify-content: center;
  margin-top: 50%;
}

@media (min-width: 560px) and (max-width: 940px) {
  .loadPosition {
    display: flex;
    justify-content: center;
    margin-top: 30%;
  }
}

@media (min-width: 940px) {
  .loadPosition {
    display: flex;
    justify-content: center;
    margin-top: 20%;
  }
}
