.backdrop {
  position: fixed;
  display: flex;
  justify-content: left;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  /* padding: 16px; */
  max-width: 280px;
  width: 100%;

  overflow-y: scroll;

  /* background-color: #fff; */
}

@media (min-width: 560px) and (max-width: 940px) {
}

@media (min-width: 940px) {
}
