.wrapper {
  display: flex;
  align-items: center;
  height: 100px;
}
.middleNavigation {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 60%;
  padding-top: 5px;
  padding-bottom: 5px;

  /* background-color: darkcyan; */
}
.integral {
  text-align: center;
  width: 20%;
}
.logo {
  display: inline-block;
  font-family: "Boogaloo", cursive;
  font-size: 42px;
  cursor: pointer;

  color: rgb(25, 18, 168);
}

.logoNavLink:active,
.logoNavLink:focus {
  border: none;
  outline: none;
}
.basta {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fed700;
}
.support {
  display: flex;
  flex-direction: column;
  width: 20%;
  font-family: "Monserat", sans-serif;
  font-size: 16px;
}

.suppNomber {
  width: 180px;
  /* background-color: lightcoral; */
}
.suppMail {
  width: 180px;
  /* background-color: lightcoral; */
}
.suppViber {
  width: 180px;
  /* background-color: lightcoral; */
}

.boxSupport1 {
  display: flex;
  justify-content: center;
}
.boxSupport2 {
  display: flex;
  justify-content: center;
}

.iconCall {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  color: rgb(25, 18, 168);
}
.iconHeadset {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  color: rgb(25, 18, 168);
}
.iconMail {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  color: rgb(25, 18, 168);
}
.linkMail {
  text-decoration: none;
  color: black;
}
.linkMail:hover {
  color: rgb(25, 18, 168);
}
.linkMail:focus {
  border: none;
}
.iconViber {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  color: rgb(25, 18, 168);
}
.home {
  text-align: center;
  border-radius: 8px;
  width: 100px;
  height: 30px;
  margin-right: 30px;
  font-family: "Monserat", sans-serif;
  font-size: 14px;
}
.home:hover {
  box-shadow: 0px 0px 10px #fed700;
}
.home:focus {
  border: none;
}

.main {
  text-align: center;
  border-radius: 8px;
  width: 100px;
  height: 30px;
  margin-right: 30px;
  font-family: "Monserat", sans-serif;
  font-size: 14px;
}
.main:hover {
  box-shadow: 0px 0px 10px #fed700;
}
.main:focus {
  border: none;
}
.about {
  text-align: center;
  border-radius: 8px;
  width: 100px;
  height: 30px;
  margin-right: 30px;
  font-family: "Monserat", sans-serif;
  font-size: 14px;
}
.about:hover {
  box-shadow: 0px 0px 10px #fed700;
}
.about:focus {
  border: none;
}

@media (min-width: 320px) and (max-width: 940px) {
  .wrapper {
    height: 100px;
  }
  .boxSupport1 {
    width: 100%;
    padding-left: 20px;
    align-items: center;
  }
  .boxSupport2 {
    width: 100%;
    padding-left: 20px;
    align-items: center;
  }
  .about {
    width: 50px;
    margin-top: 5px;
    margin-right: 0px;
  }
  .home {
    width: 50px;
    margin-bottom: 5px;
    margin-right: 0px;
  }
  .suppNomber {
    width: 100%;
  }
  .integral {
    width: 30%;
    margin-left: 2%;
  }
  .middleNavigation {
    display: flex;
    flex-direction: column;
    width: 15%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 2%;
    margin-right: 1%;
    /* padding-left: 8%; */

    /* background-color: darkcyan; */
  }
  .support {
    width: 50%;
    font-size: 10px;
    padding-right: 0px;
  }

  .logo {
    font-size: 26px;
  }
  .basta {
    width: 6px;
    height: 6px;
  }
}

@media (min-width: 940px) {
}
