.wrapper {
  width: 100%;
  height: 808.5px;
  background-color: #e8e8fd;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #fed700;
}

.boxNavMenu {
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 60%;
  height: 50px;
}

.btnList {
  display: inline-block;
  padding: 10px;
  /* background-color: tomato; */
}

.btnListCategory {
  width: 200px;
  margin-left: 20px;
  height: 35px;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Boogaloo", cursive;
  font-size: 19px;
  color: rgb(25, 18, 168);
}

.btnListCategory:hover {
  box-shadow: 0px 0px 10px rgb(25, 18, 168);
}

.inputIntegral {
  width: 160px;
  height: 31px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  margin-left: 60px;
}

.btnSearch {
  width: 50px;
  height: 30px;
  border-radius: 8px;
  border-color: #fed700;
  color: rgb(25, 18, 168);
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

.boxTest {
  position: absolute;
  top: 50px;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 760px;
  overflow: hidden;
  /* background-color: yellowgreen; */
}
.boxTest:hover {
  position: absolute;
  top: 50px;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 760px;
  overflow-y: auto;
}
.ulList {
  /* position: absolute; */
  /* top: 20px;
  left: 0; */
  position: fixed;
  top: 165px;
  left: 20%;
  display: flex;
  flex-direction: column;
  width: 255px;
}

.liList {
  width: 248px;
  text-align: center;
  cursor: pointer;
}

.liNameCategory {
  cursor: pointer;
}
.detector {
  width: 248px;
  height: 10px;
}

.boxUlMain {
  display: flex;
}
.NavLinkProd {
  text-decoration: none;
}
.NavLinkProd:active,
.NavLinkProd:focus {
  border: none;
  outline: none;
}
.nameProductMain {
  width: 230px;
  text-align: center;
  margin: 20px;
  padding: 10px;
  border: 1px solid;
  border-color: gray;
  border-radius: 8px;
}
.fontProductMain {
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}
.imgMain {
  width: 105px;
  height: 105px;
}
.fontPayProductMain {
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.btnWrap {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.buttonMain {
  min-width: 240px;
  border: 0;
  padding: 8px 16px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 3px;
  background-color: #3884ff;
  transition: all 200ms ease;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.buttonMain:hover,
.buttonMain:focus {
  background-color: #1f65d6;
}

/* start Loaders  */

.loadPosition {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10%;
}

/* pattern */

input:focus:valid {
  border-color: rgb(25, 18, 168);
  color: rgb(25, 18, 168);
  box-shadow: none;
}
input:focus:invalid {
  border-color: red;
  color: red;
  box-shadow: none;
}

@media (min-width: 320px) and (max-width: 359px) {
  .detector {
    width: 200px;
    height: 10px;
  }
  .boxNavMenu {
    width: 95%;
    height: 50px;
  }
  .btnListCategory {
    margin-left: 0px;
    width: 110px;
    font-size: 14px;
  }
  .inputIntegral {
    width: 118px;
    margin-left: 0px;
  }
  .ulList {
    top: 165px;
    left: 5%;
  }
}

@media (min-width: 360px) and (max-width: 939px) {
  .detector {
    width: 200px;
    height: 10px;
  }
  .boxNavMenu {
    width: 95%;
    height: 50px;
  }
  .btnListCategory {
    margin-left: 0px;
    width: 110px;
    font-size: 14px;
  }
  .inputIntegral {
    width: 118px;
    margin-left: 0px;
  }
  .ulList {
    top: 165px;
    left: 5%;
  }
}

@media (min-width: 940px) {
}
