@media (max-width: 375px) {
  .container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 375px;
    height: 60px;
    padding-left: 15px;
    padding-right: 15px;

    background-color: rgb(117, 111, 228);
  }
  .boxLogo {
    display: flex;
    align-items: center;
    width: 120px;
  }
  .boxLogo:hover {
    cursor: pointer;
  }
  .logo {
    display: inline-block;
    font-family: "Boogaloo", cursive;
    font-size: 28px;
    margin-left: 5px;
    color: rgb(25, 18, 168);
  }

  /* START style iconRight */

  .iconRight {
    display: flex;
    width: 38px;
    height: 38px;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgb(117, 111, 228);
    align-items: center;
    justify-content: center;
  }

  .boxIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }

  .IconLabel {
    align-items: center;
    justify-content: center;
    color: #faf692;
    border-radius: 50%;
    /* box-shadow: 0px 0px 5px #faf692; */
  }
  .iconRight:hover,
  .IconLabel:focus {
    /* align-items: center;
  justify-content: center; */
    display: inline-block;
    margin-top: 1px;
    box-shadow: 0px 0px 10px #faf692;
  }

  /* FINISH style iconRight */

  .boxIcon {
    align-items: center;
    justify-content: center;
    color: #faf692;
    border-radius: 50%;
  }
  .boxIcon:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px #faf692;
  }

  .IconMenuNav {
    margin-right: 5px;
    display: flex;
    width: 38px;
    height: 38px;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgb(117, 111, 228);
    align-items: center;
    justify-content: center;
  }

  .IconLabel {
    color: #faf692;
  }

  .list {
    display: flex;
  }

  .icons {
    display: flex;
    align-items: center;
  }

  .boxSearch:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px #faf692;
  }
}

@media (min-width: 376px) and (max-width: 940px) {
  .wrapper {
    width: 100%;
  }
  .container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 940px;
    height: 80px;
    padding-left: 15px;
    padding-right: 15px;

    background-color: rgb(117, 111, 228);
  }
  .boxLogo {
    display: flex;
    align-items: center;
    width: 20%;
    padding-left: 3%;
  }
  /* .boxLogo:hover {
    cursor: pointer;
  } */

  .logo {
    display: inline-block;
    font-family: "Boogaloo", cursive;
    font-size: 34px;
    margin-left: 15%;
    color: rgb(25, 18, 168);
  }

  /* START style iconRight */

  .iconRight {
    display: flex;
    width: 38px;
    height: 38px;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgb(117, 111, 228);
    align-items: center;
    justify-content: center;
  }

  .boxIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }

  .IconLabel {
    align-items: center;
    justify-content: center;
    color: #faf692;
    border-radius: 50%;
    /* box-shadow: 0px 0px 5px #faf692; */
  }
  .iconRight:hover,
  .IconLabel:focus {
    /* align-items: center;
    justify-content: center; */
    display: inline-block;
    margin-top: 1px;
    box-shadow: 0px 0px 10px #faf692;
  }

  /* FINISH style iconRight */

  .list {
    display: flex;
  }

  .icons {
    display: flex;
    align-items: center;
  }

  .IconMenuNav {
    margin-right: 10px;
    display: flex;
    width: 38px;
    height: 38px;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgb(117, 111, 228);
    align-items: center;
    justify-content: center;
  }

  .boxIcon {
    align-items: center;
    justify-content: center;
    color: #faf692;
    border-radius: 50%;
  }
  .boxIcon:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px #faf692;
  }
}

@media (min-width: 940px) {
  .wrapper {
    width: 100%;
  }
  .container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 100%;
    height: 80px;
    padding-left: 15px;
    padding-right: 15px;

    background-color: rgb(117, 111, 228);
  }
  .boxLogo {
    display: flex;
    align-items: center;
    width: 20%;
    padding-left: 3%;
  }
  /* .boxLogo:hover {
    cursor: pointer;
  } */

  .logo {
    display: inline-block;
    font-family: "Boogaloo", cursive;
    font-size: 34px;
    margin-left: 15%;
    color: rgb(25, 18, 168);
  }

  /* START style iconRight */

  .iconRight {
    display: flex;
    width: 38px;
    height: 38px;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgb(117, 111, 228);
    align-items: center;
    justify-content: center;
  }

  .boxIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }

  .IconLabel {
    align-items: center;
    justify-content: center;
    color: #faf692;
    border-radius: 50%;
    /* box-shadow: 0px 0px 5px #faf692; */
  }
  .iconRight:hover,
  .IconLabel:focus {
    /* align-items: center;
    justify-content: center; */
    display: inline-block;
    margin-top: 1px;
    box-shadow: 0px 0px 10px #faf692;
  }

  /* FINISH style iconRight */

  .list {
    display: flex;
  }

  .icons {
    display: flex;
    align-items: center;
  }

  .IconMenuNav {
    margin-right: 10px;
    display: flex;
    width: 38px;
    height: 38px;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgb(117, 111, 228);
    align-items: center;
    justify-content: center;
  }

  .boxIcon {
    align-items: center;
    justify-content: center;
    color: #faf692;
    border-radius: 50%;
  }
  .boxIcon:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px #faf692;
  }
}
