.backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal {
  margin-top: 50%;
  padding: 16px;
  max-width: 280px;
  width: 100%;
  height: 50%;

  overflow-y: scroll;

  background-color: rgb(179, 159, 159);
}

@media (min-width: 376px) and (max-width: 940px) {
  .backdrop {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .modal {
    margin-top: 20%;
    padding: 16px;
    max-width: 70%;
    height: 70%;

    overflow-y: scroll;

    background-color: rgb(179, 159, 159);
  }
}

@media (min-width: 940px) {
  .backdrop {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .modal {
    margin-top: 5%;
    padding: 16px;
    max-width: 70%;
    height: 70%;

    overflow-y: scroll;

    background-color: rgb(179, 159, 159);
  }
}
