.wrapper {
  display: flex;
  justify-content: center;
}
.container {
  margin-top: 50%;
}
.iconLogo {
  background: url("../../icons/pixelbefor50/icons8-circled-right-32.png");
  color: #8b8b88;
  width: 32px;
  height: 32px;
  cursor: pointer;
  text-align: center;
  flex-shrink: 0;
}

@media (min-width: 560px) and (max-width: 940px) {
}

@media (min-width: 940px) {
}
